* {
  margin: 0;
  padding: 0;
  font-family: poppins, serif;
}

section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #001F32; */
  background-image: url(https://cdn.pixabay.com/photo/2022/10/14/08/03/earbuds-7520738_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.box {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.845);
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}


.logo-image {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-image > img {
  width: 40%;
}

.box-title h2 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 8px;
}

.box-title p {
  font-size: 18px;
}

.signin-form {
  display: block;
  margin-top: 50px;
}

.signin-form input {
  width: 100%;
  padding: 15px 0 15px 15px;
  margin: 5px 0 10px 0;
  font-size: 16px;
  font-weight: 300;
  color: rgb(187, 184, 184);
  border: 1px solid gray;
  border-radius: 10px;

}

.signin-form label {
  font-size: 20px;
  font-weight: 400;
}

.password {
  margin-top: 20px;
}

.forgot-pass {
    text-align: end;
}

.forgot-pass a{
    color: #001F32;
    text-decoration: none;
}

.btn {
  background-color: #ED4137;
  color: white;
  margin-top: 30px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;

}

.btn:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #ED4137;
    border: 1px solid #ED4137;
}

.create-acct {
    margin-top: 20px;
    text-align: center;
}

.create-acct a{
    color: #ED4137;
    text-decoration: none;
}

.icon-container {
    position: fixed;
    padding: 0 15px;
    border-radius: 10px;
    background-color: #ED4137;
    color: white;
    right: 50px;
    bottom: 50px;
    font-size: 40px;
}