* {
  margin: 0;
  padding: 0;
  font-family: poppins, serif;
}

section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ED4137;
  /* background-image: url(https://cdn.pixabay.com/photo/2022/10/14/08/03/earbuds-7520738_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat; */

}

.box {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}


.logo-image {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-image > img {
  width: 40%;
}

.box-title > h2 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 8px;
}

.box-title > p {
  font-size: 18px;
}

.signin-form {
  display: block;
  margin-top: 50px;
}

.signin-form input {
  width: 100%;
  padding: 15px 0 15px 15px;
  margin: 5px 0 10px 0;
  font-size: 16px;
  font-weight: 300;
  color: rgb(187, 184, 184);
  border: 1px solid gray;
  border-radius: 10px;

}

.signin-form label {
  font-size: 18px;
  font-weight: 400;
}

.password {
  margin-top: 20px;
}

.forgot-pass {
    text-align: end;
}

.forgot-pass a{
    color: #001F32;
    text-decoration: none;
}

.btn {
  background-color: #ED4137;
  color: white;
  margin-top: 30px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;

}

.btn:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #ED4137;
    border: 1px solid #ED4137;
}

.create-acct {
    margin-top: 20px;
    text-align: center;
}

.create-acct a{
    color: #ED4137;
    text-decoration: none;
}

.icon-container {
    position: fixed;
    border-radius: 10px;
    color: white;
    right: 50px;
    bottom: 50px;
    font-size: 60px;
}

/* create account */
.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
 
}

.right-box {
    position: relative;
    min-height: auto;
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightbox-content {
  display: block;
  /* position: absolute; */
  width: 50%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.845);
  padding: 80px;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08); */
}

.rightbox-content h2{
    font-size: 30px;
}

.rightbox-content p {
    font-size: 16px;
}

.left-box {
    position: relative;
    min-height: auto;
    width: 50%;
    background-image: url(https://cdn.pixabay.com/photo/2017/05/11/11/15/workplace-2303851_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.left-box img{
    position: absolute;
    right: 400px;
    top: 50px;
    width: 30%;
}

.signup-form {
    margin-top: 20px;
    display: block;
}

.signup-form input {
    width: 100%;
    padding: 15px 0 15px 15px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 300;
    color: rgb(187, 184, 184);
    border: 1px solid gray;
    border-radius: 10px;
  
}

.signup-form label {
    font-size: 18px;
    color: black;
}

.signup-btn {
    display: flex;   
    justify-content: center;

}

.signup-btn input{

background-color: #ED4137;
  color: white;
  margin-top: 30px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;

}

.already-member {
    margin-top: 20px;
    text-align: center;
}

.already-member a {
    color: #ED4137;
    text-decoration: none;
}